 #container{
       background-image: url(../images/background7.jpg);
      background-size: 100% 100vh;
      background-repeat: no-repeat;
    background-attachment: fixed;
      padding: 0px;
      margin:0px;
     }
     .about{
      color: white;
      text-align: center;
      margin:50px;
     }
     h1{
      font-size: 72px;
     }

     .navbar {
    overflow: hidden;
    background-color:#E91E63;
    top: 0;
    width: 100%;

}

.navbar a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    float: right;
}
.navbar a:hover {
    background:#FF4081;
    color: white;
}
.title{
  color:white;
  font-weight: bold;
  text-align: center;
  line-height:40px;
  font-size:20px;
  margin: 2px;
}
.button {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button2 {background-color: #008CBA;}