#container{
      /*background-color: #e5e5e5;*/
      background-image: url(../images/background2.jpg);
      background-size: 100% 100vh;
      margin:0px;
      padding: 0px


    }
         .topnav {
  overflow: hidden;
  background-color: #E91E63;
}

.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
   font-weight: bold;
  font-size: 17px;
}

.topnav a:hover {
    background:#FF4081;
    color: white;
}

.active {
  background-color: #FF4081;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 700px) {
  .logo .img{
    display: none
  }
  .logo{
    display: none
  }
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .login{
    clear:both; 
  }
}

@media screen and (max-width: 700px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
     @media(min-width: 600px){
        .card{
        width: 50%;
        min-width: 320px;
        background-color: white;
        min-height:320px;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 5px 0 rgba(0,0,0,.23);
        margin:50px auto 0 auto;
        display: flex;

      }
      }
      .card{
        width: 50%;
        min-width: 320px;
        background-color: white;
        min-height:320px;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 5px 0 rgba(0,0,0,.23);
        margin:50px auto 0 auto;

      }
      input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=button] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.signup {
    border-radius: 5px;
    padding: 20px;
    flex:4;
    margin:10px;
}
.logo{
flex:3;
  /*width: 40%;*/
  background-color:#AD1457;
   position: relative;
}
.description{
  margin: 100px auto 0 auto;
  text-align: center;
  color: white;
  padding: 10px;
}
p{
  font-size: 16px;
}
.link{
  float:right;
}
.img{
  width: 100px;
  height: 100px;
  margin: 0 auto 0 auto;
}
.footer{
   position: absolute;
  bottom:0px;
  color: white;
  font-weight: bold;
  font-size:12px;
  padding:10px;
}
.alert{
color:red;
}
img{
width: 100%;
height:100%
}